# Игнорировать папки Visual Studio
.vs/
bin/
obj/

# Игнорировать временные файлы и логи
*.log
*.tmp
*.cache

# Игнорировать веса нейросетей (они у тебя тяжелые и меняются редко)
*.model
*.bin
models/


# Игнорировать файлы окружения
.env
